<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome To Expedition Buddy</title>
</head>
<body style="background: #ffee32; margin: auto; height: fit-content; width: fit-content; padding:60px;">
    <div class="list-group-horizontal">
        <img src="https://i.ibb.co/CpdBk4Z/Expedition-Buddy-Logo.png" alt="Expedition-Buddy-Logo">
    </div>
    <div class="stock_video" style="margin: 0; width:fit-content; height: fit-content;">    
        <iframe style="border: 5px dashed black;" src="https://streamable.com/e/j2uzn6?autoplay=1&nocontrols=1" width="614" height="350" frameborder="0" allowfullscreen allow="autoplay"></iframe>
    </div>
    <div style="display: flex; justify-content: space-evenly; margin: 15px;">
        <a class="btn btn-dark" href="/login" role="button">Login</a>
        <a class="btn btn-dark" href="/create_account" role="button">Create Account</a>
    </div>
</body>
</html>